apiVersion: apps/v1
kind: Deployment
metadata:
  name: vllm-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: model-server
  template:
    metadata:
      labels:
        app: model-server
      annotations:
        gke-gcsfuse/volumes: "true"
        gke-gcsfuse/cpu-limit: "0"
        gke-gcsfuse/memory-limit: "0"
        gke-gcsfuse/ephemeral-storage-limit: "0"
    spec:
      serviceAccountName: vllm-sa
      nodeSelector:
        cloud.google.com/compute-class: l4
      tolerations:
      - key: "cloud.google.com/compute-class"
        operator: "Equal"
        value: "l4"
        effect: "NoSchedule"
      - key: "cloud.google.com/gke-spot"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
      - key: "nvidia.com/gpu"
        operator: "Exists"
        effect: "NoSchedule"
      containers:
      - name: inference-server
        image: vllm/vllm-openai:v0.11.1
        command:
          - sh
          - -c
          - "vllm serve '/models/gemma-3-12b-it' --tensor-parallel-size 2 --max-model-len 8192 --port 8080 --gpu-memory-utilization 0.9 --trust-remote-code"
        resources:
          limits:
            nvidia.com/gpu: "2"
        ports:
          - containerPort: 8080
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 10
        volumeMounts:
        - mountPath: /dev/shm
          name: dshm
        - mountPath: /models
          name: model-volume
          readOnly: true
      volumes:
      - name: dshm
        emptyDir:
          medium: Memory
      - name: model-volume
        csi:
          driver: gcsfuse.csi.storage.gke.io
          volumeAttributes:
            bucketName: gemma3-12b-amirma-private2
            mountOptions: "implicit-dirs,file-cache:enable-parallel-downloads:true,file-cache:max-parallel-downloads:8,file-cache:download-chunk-size-mb:8,file-cache:max-size-mb:30000"
---
apiVersion: v1
kind: Service
metadata:
  name: llm-service
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: model-server
  type: ClusterIP
