apiVersion: apps/v1
kind: Deployment
metadata:
  name: vllm-deployment-runai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: model-server-runai
  template:
    metadata:
      labels:
        app: model-server-runai
    spec:
      serviceAccountName: vllm-sa
      nodeSelector:
        cloud.google.com/compute-class: l4
      tolerations:
      - key: "cloud.google.com/compute-class"
        operator: "Equal"
        value: "l4"
        effect: "NoSchedule"
      - key: "cloud.google.com/gke-spot"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
      - key: "nvidia.com/gpu"
        operator: "Exists"
        effect: "NoSchedule"
      containers:
      - name: vllm-container
        image: vllm/vllm-openai:v0.11.1
        command:
          - python3
          - -m
          - vllm.entrypoints.openai.api_server
        args:
          - --model=gs://gemma3-12b-amirma-private2/gemma-3-12b-it
          - --load-format=runai_streamer
          - --model-loader-extra-config={"distributed":true}
          - --tensor-parallel-size=2
          - --max-model-len=8192
          - --port=8080
          - --gpu-memory-utilization=0.9
          - --trust-remote-code
        resources:
          limits:
            nvidia.com/gpu: "2"
          requests:
            nvidia.com/gpu: "2"
        ports:
          - containerPort: 8080
            name: api
        startupProbe:
          httpGet:
            path: /health
            port: 8080
          failureThreshold: 60
          periodSeconds: 10
          initialDelaySeconds: 30
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          failureThreshold: 3
          periodSeconds: 10
        volumeMounts:
        - mountPath: /dev/shm
          name: dshm
      volumes:
      - name: dshm
        emptyDir:
          medium: Memory
---
apiVersion: v1
kind: Service
metadata:
  name: llm-service-runai
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: model-server-runai
  type: ClusterIP
